<h2><b>BANNER MANAGEMENT</b></h2>
<h3>&nbsp;</h3>

<div data-control="toolbar">

    <?php if ($this->user->hasAnyAccess(['airasiabig.banner.banner'])): ?>
    <div class="btn-group">
        <a
            href="<?= Backend::url('airasiabig/banner/country') ?>"
            class="btn btn-primary oc-icon-align-justify">
            <b><?= e(trans('ALL COUNTRY')) ?></b>
        </a>

    </div>
    <?php endif ?>

</div>
